
<h2>Crea un Autor</h2>

<form action="/authors/create" method="POST">

  <label for="name">Nombre:</label>
  <input type="text" name="name">

  <label for="country">Pais Origen:</label>
  <input type="text" name="country">

  <label for="yearBorn">Año Nacimiento:</label>
  <input type="number" name="yearBorn">

  <button>Crear</button>

</form>